
.icon-laptop-(1):before { content: '\e800'; } /* '' */
.icon-satellite-dish-(1):before { content: '\e801'; } /* '' */
.icon-stage-(1):before { content: '\e802'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */